.number {
    /* display: inline-block; */
    margin-right: 20px;
    /* width: 100px; */
    /* float: left; */
 
}

/* Need to figure out how to make text align to right side of direction number. */

.list-group-flush > .list-group-item{
    display: flex;
    
}



.directionsGroup {
    /* border-style: solid; */
    width: 95%;
}

@media (min-width: 500px) {
    .directionsGroup {
        width: 50vw;
    }



}