.App-header {
    background-color:#2D8B50;
    overflow: hidden;
    min-height: 0px;
    width:100%;
    position: absolute;
  }
  
  .App-header img{
  margin-left:8px;
  
  }
  
  .App-header img:hover{
    background-color: #14542C;
  }
  

  /* needs to be its own component */

  .navBar {
    position: fixed;
    width: 100%;
    background-color: #2D8B50;
    bottom: 0;
    z-index: 2;
  }

  /* needs to be its own component */
  
  .yellow {
    background-color: yellow;
  }

  
  .imgbox{ 
    background-image: url("./Images/PhotoBackgroundVertical.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 100vh;
    display: flex;
    justify-content: center;
  }


  .landingSearch {
    color: white;
    font-size: 15pt;
  }

  .slogan {
    color: white;
  }

  .type{
    width: 100%;
    border-radius: 15px;
    height: 45px;
    border-style: none;
    top: 0px;
    padding-left: 20px;
    outline: none;
    
  }

  .submit{
    width: 45px;
    height: 45px;
    border-style: none;
    border-radius: 15px;
  }

  
  .searchSection {
      /* border-style: solid; */
      height: auto;
      /* border-color: red; */
      margin-left: 40px;
      margin-right: 40px;
      align-self: center;
      width: 100%;
      margin-top: 200px;
  }

  .searchBar{
      /* border-style: solid; */
      height: auto;
      /* border-color: red; */
      display: flex;
      background-color: white;
      border-radius: 15px;
    
}

  .slogan{
    margin-top: 20px;
    font-size: 16pt;
  }


  .ourPicks {
      margin-top: 50px;
      margin-left: 8px;
  }


  @media (min-width: 500px) {
    .imgbox{
      background-image: url("./Images/PhotoBackgroundHorizontal.jpg");
      background-position: center center;
      height: 500px;
      margin-right: none;
      flex-direction: column;
      justify-content: center;
    }

    /* needs to be its own component */

    .navBar {
        bottom: none;
        top: 0;
        right: 0;
        width: 38%;
        height: 45px;
        position: absolute;
      }

    .searchSection{
      width: 50%;
      align-self: flex-start;
      margin-top: 50px;
    }
  }

  @media (min-width: 361px) {
    .slogan{
      margin-top: 20px;
      font-size: 20pt;
    }
  }

     /* needs to be its own component */
  

  .footer{
    height: 100px;
  
  }