/* Need to figure out how to center the text when icon is displayed. */

.list-group > button{
    vertical-align: middle;
}

.list-group-item > img{
    float: right;
}

.ingredientsGroup {
    /* border-style: solid; */
    width: 95%;
    
}

@media (min-width: 500px) {
    .ingredientsGroup {
        width: 25vw;

    }

}