.smallCard {
    width: 95%;
    border-style: solid;
    margin-top: 15px;
    padding: 5px;
    align-self: center;
}

.cardImage {
    float: left;
    margin-right: 20px;
    width: 108px;
    height: 108px;
    border-radius: 3px;
}

.smallCard > a {
    color: black;
}

.smallCard > a:hover {
    text-decoration: none;
    color: black;
}

@media (min-width: 768px) {

    .smallCard {
        width: 50%;
    }
    

}

/* @media (min-width: 1224px) {

    .smallCard {
        width: 60%;
    }
    

} */
