.smallCard {
    width: 95%;
    border-top-style: solid;
    margin-top: -1px;
    border-color: lightgray;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-self: center;
}

.cardImage {
    float: left;
    margin-right: 20px;
    width: 108px;
    height: 108px;
    border-radius: 3px;
}

.recipeName {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 0px;
    font-size: 16pt;
    font-weight: bold;
    
}

.smallCard > a {
    color: black;
}

.smallCard > a:hover {
    text-decoration: none;
    color: black;
}

.stats {
    display: flex;
    margin: 0px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.stat {
    /* margin-right: 40px; */
    overflow: none;
    white-space: nowrap;
    margin-right: 20px;
}




@media (min-width: 768px) {

    .smallCard {
        width: 50%;
    }
}

@media (min-width: 349px) {

    .recipeName {
        margin-bottom: 10px;
    }
}



/* @media (min-width: 1224px) {

    .smallCard {
        width: 60%;
    }
    

} */
