header {
    background-color:#2D8B50;
    overflow: hidden;
    min-height: 0px;
    width:100%;
}

header img{
margin-left:8px;
}

body {
    background-image: url(./Images/PhotoBackground.jpg);
    background-size: 900px auto;
    background-repeat: no-repeat;
  }

header img:hover{
    background-color: #14542C;
}
.navbar{
    background-Color:#2D8B50;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar a{
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    /* padding: 14px 16px; */
    font-size: 12;
    text-decoration:none;
}

.navbar a:hover{
    background-color: #14542C;
}

.navbar a.active {
    background-color: #ffffff;
  }

