.App-header {
  background-color:#2D8B50;
  overflow: hidden;
  min-height: 0px;
  width:100%;
}

.App-header img{
margin-left:8px;
}

.App-header img:hover{
  background-color: #14542C;
}

.bottom-nav{
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
  transform: rotate(180deg);
}

.card {
  border-style:solid;
  height: 293px;
}

.footer{
  height: 100px;

}

.navbar{
  background-Color:#2D8B50;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a{
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  /* padding: 14px 16px; */
  font-size: 12;
  text-decoration:none;
}

.navbar a:hover{
  background-color: #14542C;
}

.navbar a.active {
  background-color: #ffffff;
}
