.App {
  background-image:url("/public/Images/PhotoBackground.jpg")
}

.App-header {
  background-color:#2D8B50;
  overflow: hidden;
  min-height: 0px;
  width:100%;
}

.App-header img{
margin-left:8px;
}

.App-header img:hover{
  background-color: #14542C;
}

.bottom-nav{
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
